/* satatus del mensages */
.status-message {
    color: gray;
    font-style: italic;
    text-align: center;
}
/* Ajuste del contenedor de mensajes para el layout */
.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}
.chat-message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

/* tipos de mensajes */
.sistem-message {
    background-color: #d7d8f8;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
    align-self: center
}
.received-message {
        background-color: #f8d7d7; 
    align-self: flex-start;
    text-align: left;
}
.sent-message {
    background-color: #d1e7dd; 
    text-align: right;
    margin-left: auto; 
}




