/* satatus del mensages */
.status-message {
    color: gray;
    font-style: italic;
    text-align: center;
}
/* Ajuste del contenedor de mensajes para el layout */
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}
.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 10px 0;
}
#send {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}
#message {
    background-color: white;
    width: 100%;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
}
.chat-message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

/* tipos de mensajes */
.sistem-message {
    background-color: #d7d8f8;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
    align-self: center
}
.received-message {
        background-color: #f8d7d7; 
    align-self: flex-start;
    text-align: left;
}
.sent-message {
    background-color: #d1e7dd; 
    text-align: right;
    margin-left: auto; 
}




