.navtop {
    overflow: hidden;
    background-color: rgb(141, 22, 189);
    align-self: center;
    font-family: verdana, sans-serif, helvetica;
}

.navsub {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 0px;
    font-family: verdana, sans-serif, helvetica;
    color: #fff;
}

.subnavitems {
    background: #aaa;
    color: #fff;
    padding: 10px 15px;
    font-family: verdana, sans-serif, helvetica;
}

.navsrh {
    grid-column: 1 / 3;
    grid-row: 3;
    margin: 10px 10px;
    height: 32px;
    font-family: verdana, sans-serif, helvetica;
}

.paginador {
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    clear: both;
    font-family: verdana, sans-serif, helvetica;
}

.options {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    font-family: verdana, sans-serif, helvetica;
}

.image {
    max-width: 100%;
    height: auto !important;
    vertical-align: middle;
    float: right;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.tags {
    float: left;
    border-right: 1px solid #333;
    font-family: verdana, sans-serif, helvetica;
    font-size: 12px;
    text-decoration: none;
}

.footer{
    text-align: center;
    color: #fff;
    background-color: rgb(141, 22, 189);
    padding-bottom: 125px;
    font-family: verdana, sans-serif, helvetica;
}

@media only screen and (max-width: 850px) {
    .tags {
        grid-area: aside;
        margin: 10px 0px 20px 0px;
        font-size: 1.3em;
        font-family: verdana, sans-serif, helvetica;
    }
    .footer {
        grid-area: footer;
        margin: 0px 0px;
        text-align: center;
        padding: 20px;
        font-family: verdana, sans-serif, helvetica;
    }
}
.option-photo:hover {
    border:1px solid #333;
    filter: brightness(40%);
    background-color: rgba(33, 33, 33, 0);
  }