body {
    font-family: verdana, sans-serif, helvetica;

}

.navtop {
    overflow: hidden;
    background-color: rgb(141, 22, 189);
    align-self: center;
    font-family: verdana, sans-serif, helvetica;
}

.icon {
    position: relative;
    float: left;
    margin: 7px 15px 1px 25px;
    padding: 0 0 0 0;
}

.section {
    text-decoration: none;
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    margin: 20px 16px 23px 16px;
    padding: 0 0 0 0;
}

.section:hover {
    text-decoration: underline;
}

.navsub {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 0px;
    font-family: verdana, sans-serif, helvetica;
    color: #fff;
}

.subnavitems {
    background: #aaa;
    color: #fff;
    padding: 10px 15px;
    font-family: verdana, sans-serif, helvetica;
}

.navsrh {
    grid-column: 1 / 3;
    grid-row: 3;
    margin: 10px 10px;
    height: 32px;
    font-family: verdana, sans-serif, helvetica;
}

.paginador {
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    clear: both;
    font-family: verdana, sans-serif, helvetica;
}

.options {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    font-family: verdana, sans-serif, helvetica;
}

.image {
    max-width: 100%;
    height: auto !important;
    vertical-align: middle;
    float: right;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.tags {
    float: left;
    border-right: 1px solid #333;
    font-family: verdana, sans-serif, helvetica;
    font-size: 12px;
    text-decoration: none;
}

.footer {
    margin-top: auto;
    text-align: center;
    color: #fff;
    background-color: rgb(141, 22, 189);
    font-family: verdana, sans-serif, helvetica;
    margin: 0;
    padding: 1rem;

}

/* 
@media only screen and (max-width: 850px) {
    .tags {
        grid-area: aside;
        margin: 10px 0px 20px 0px;
        font-size: 1.3em;
        font-family: verdana, sans-serif, helvetica;
    }
    .footer {
        grid-area: footer;
        margin: 0px 0px;
        text-align: center;
        padding: 20px;
        font-family: verdana, sans-serif, helvetica;
    }
} */
.option-form {
    width: 8rem;
    display: inline-block;
}

.lbl {
    display: block;
    text-align: center;
    filter: opacity(0);
}

.void {
    width: 0px;
    height: 8rem;
    object-fit: cover;
    filter: opacity(0);
}

.Height {
    display: inline-block;
    width: 0px;
}

.option-photo {
    margin: 0, 0, 0, 0;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    /* background-color: white; */
    transition: filter 0.2s, margin-bottom 0.2s ease-in-out;
}

.option-form:hover .option-photo {
    border: 0px solid #333;
    filter: brightness(40%);
    /* background-color: rgba(33, 33, 33, 0); */
    /* background-color: white; */
    margin-bottom: 10px;
}



.option-form-secret {
    width: 20rem;
    display: inline-block;
}

.option-photo-secret {
    margin: 0, 0, 0, 0;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    /* background-color: white; */
    transition: filter 0.2s, margin-bottom 0.2s ease-in-out;
}

/* .option-form-secret:hover .option-photo-secret {
    border: 0px solid #333;
    filter: brightness(40%);
    margin-bottom: 10px;
} */
.option-photo-secret:hover {
    border: 0px solid #333;
    filter: brightness(40%);
    /* background-color: rgba(33, 33, 33, 0); */
    /* background-color: white; */
    margin-bottom: 10px;
}
.void-secret {
    width: 0px;
    height: 20rem;
    object-fit: cover;
    filter: opacity(0);
}




.profile-nav {
    height: 60px;
    width: 60px;
    border-radius: 100rem;
    background-color: white;
    object-fit: cover;
    transition: 0.3s filter ease-in-out;
}

.profile-nav:hover {
    border: 0px solid #333;
    /*background-color: rgba(33, 33, 33, 0);*/
    background-color: white;
    filter: brightness(40%);
}

.profile-small {
    height: 50px;
    width: 50px;
    border-radius: 100rem;
    background-color: white;
    object-fit: cover;
    transition: 0.3s filter ease-in-out;
}

.profile-small:hover {
    border: 0px solid #333;
    /*background-color: rgba(33, 33, 33, 0);*/
    background-color: white;
    filter: brightness(40%);
}

.profile {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    transition: 0.3s filter ease-in-out;
}

.profile:hover {
    border: 0px solid #333;
    /*background-color: rgba(33, 33, 33, 0);*/
    background-color: white;
    filter: brightness(40%);
}

.box {
    height: 10rem;
    width: 20rem;
    border-radius: 0 0 10rem 10rem;
    background-color: #333;
}

.note-img {
    border-radius: 100%;
    background-color: white;
    object-fit: cover;
}

a:link {
    color: lightcoral;
}

a:visited {
    color: lightcoral;
}